body {
    margin: 0px;
}
img {
    width: 100%;
    height: 220px;
}
#header2Image {
    object-fit: cover;
}
.header1 {
    background-color: black;
    height: 60px;
}
#NIKE {
    position: relative;
    left: 70px;
    width: 50px;
    height: 60px;
}
.headerFont {
    text-align: center;
    font-size: 20px;
    word-spacing: 4rem;
    position: relative;
    left: 600px;
    top: -20px;
}
#Introduce{
    color: white;
    text-decoration: none;
}
#SellingProduct{
    color: white;
    text-decoration: none;
}
#CompanyNews{
    color: white;
    text-decoration: none;
}
#Asking{
    color: white;
    text-decoration: none;
}
.centered {
    color: white;
    text-align: center;
    font-size: 32px;
    position: relative;
    top: -180px;
    font-weight: bold;
}
#short {
    position: relative;
    bottom: -31px;
    display: block;
    width: 60px;
    border-bottom: 3px solid whitesmoke;
}
#long {
    top: 50px;
    position: relative;
    display: block;
    border-color: white;
}
.tbody  {
    position: relative;
    top: 30px;
}
#firstTbody {
    text-align: center;
    color: black;
    font-size: 30px;
    position: relative;
    top: -190px;
    font-weight: bold;
}
#arrowPhoto {
     text-align: center;
     position: relative;
     left: 48%;
     top: -170px;
     height: 150px;
     width: 80px;
 }
#callPhoto {
    text-align: center;
    position: relative;
    left: calc(47% - 3px);
    top: -130px;
    width: 130px;
    height: 100px;
}
.footer {
    background: url('https://img1.daumcdn.net/thumb/R720x0.q80/?scode=mtistory2&fname=http%3A%2F%2Fcfs9.tistory.com%2Fupload_control%2Fdownload.blog%3Ffhandle%3DYmxvZzIxMDE3NEBmczkudGlzdG9yeS5jb206L2F0dGFjaC81LzU1Ny5qcGc%253D') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 180px;
    position: relative;
    top: 160px;
    /*margin-top: 50px;*/
    bottom: 100px;
    margin-bottom: 0px;
}
#fontFooter1 {
    color: white;
    position: relative;
    margin-left: 100px;
    top: 25px;
    font-weight: bold;
    font-size: 18px;
}
#hrFooter1 {
    width: 50px;
    border-bottom: 0px;
    text-align: left;
    margin-left: 100px;
    position: relative;
    top: 15px;
    left: 0px;
    border: solid 2px white;
}
#fontFooter2 {
    color: white;
    position: relative;
    margin-left: 100px;
    top: 13px;
    font-size: 12px;
}
#fontFooter3 {
    color: white;
    position: relative;
    margin-left: 100px;
    top: 7px;
    font-size: 11px;
}
#fontFooter4 {
    color: white;
    position: relative;
    margin-left: 100px;
    top: 10px;
    font-size: 12px;
}
#hrFooter2 {
    width: 560px;
    text-align: left;
    margin-left: 100px;
    position: relative;
    top: 14px;
    left: 0px;
    border: solid 1px white;
}
@media only screen and (max-width: 1536px) {
}
@media only screen and (max-width: 2048px) {
}

/*.tbody 자체를 올려버리고 그 안에 있는 sectiom 자체들을 */
/*전체를 위로 올려서 아래로 내려간 자리 매꾸면 될거같음*/