body {
    margin: 0px;
}
img {
    width: 100%;
    height: 250px;
  }
#headheaderImage{
    object-fit:cover;
}
.header {
    background-color: black;
    height:310px;
 }
 #NIKE {
    position: relative;
    left:70px;
    width:50px;
    height : 60px;
    display: intermianl;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
#introduce {
    position: absolute;
    top: 25px;
    left: 660px;
    text-align: center;
    font-size: 20px;
    color: white;
    word-spacing: 70px;
    text-decoration: none;
}

.centered {
    position: absolute;
    top: 170px;
    left: 860px;
    color:white;
    font-weight: bold;
    font-size: 32px;
  }
h6 {
    position: relative;
    bottom: 20px;
    left: 20px;
}
#long {
    position: relative;
    bottom: 105px;
    border-color: white;
}
.tbody {
    text-align: center;
    color:black;
    font-size: 30px;
    position: relative;
    top: 30px;
    left: 0px;
    font-weight: bold;
}
#callPhoto {
    width: 130px;
    height: 100px;
    position: relative;
    left: 765px;
    top: 150px;
}
#arrowPhoto {
    position: relative;
    top: 20px;
    left: 875px;
    height: 150px;
    width: 80px;
}
.footer {
    background: url('https://img1.daumcdn.net/thumb/R720x0.q80/?scode=mtistory2&fname=http%3A%2F%2Fcfs9.tistory.com%2Fupload_control%2Fdownload.blog%3Ffhandle%3DYmxvZzIxMDE3NEBmczkudGlzdG9yeS5jb206L2F0dGFjaC81LzU1Ny5qcGc%253D') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 185px;
    position: relative;
    top: 160px;
}
#fontFooter1 {
    color: white;
    position: relative;
    left: 100px;
    top: 35px;
    font-weight: bold;
    font-size: 20px;
}
#hrFooter1 {
    width: 50px;
    border-bottom: 0px;
    text-align: left;
    margin-left: 100px;
    position: relative;
    top: 20px;
    left: 0px;
    border: solid 2px white;
}
#fontFooter2 {
    color: white;
    position: relative;
    left: 100px;
    top: 15px;
    font-size: 14px;
}
#hrFooter2 {
    width: 560px;
    text-align: left;
    margin-left: 100px;
    position: relative;
    top: 18px;
    left: 0px;
    border: solid 1px white;
}
#fontFooter3 {
    color: white;
    position: relative;
    left: 100px;
    top: 10px;
    font-size: 13px;
}