body {
    margin: 0px;
    background-color:black;
}
#homepageName {
    display: inline-block;
    margin-left: 30px;
    font: 50px solid;
    font-weight: bold;
    font-family: Fantasy, serif;
    color: powderblue;
}
ul {
    padding: 0;
}
h1 span{
    font-size: 1em;
}
.typeOfSing {
    overflow: auto;
    line-height: 70px;
    text-align: center;
    border-bottom: 1px solid white;
}
.headerFont li {
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    width: calc(100% / 4);
    float: left;
    color: white;
    transition: .2s background-color;
}
.headerFont li:hover {
    background-color: rgba(255, 255, 255, .2);
}
.menu {
    text-decoration-line: none;
    color: white;
}
.main{
    display: block;
    width: 100%;
    height: 500px;
}
.slider_main {
     display: inline-block;
     width: 75%;
     height: 495px;
 }
.slider_sub {
    display: inline-block;
    position: absolute;
    height: 495px;
    width: 25%;
}
.waiting {
    border: 1px solid white;
    text-align: center;
    height: 380px;
    width: 80%;
    position: relative;
    left: 10%;
    top: 10%;
}
#prad {
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.slider_first {
    display: inline-block;
    background: slategray;
    border-radius: 50px;
    width: 75%;
    height: 80%;
    margin-top: 3%;
    position: relative;
    top: 8%;
    left: 10%;
}
.slider_first_photocollector {
    display: inline-block;
    position: relative;
    top: 1%;
    text-align: center;
    padding: 50px;
    /*overflow: hidden;*/
}
.slider_second_photocollector {
    display: inline-block;
    position: relative;
    top: 1%;
    text-align: center;
    padding: 50px;
    /*overflow: hidden;*/
}
.slider_third_photocollector {
    display: inline-block;
    position: relative;
    top: 1%;
    text-align: center;
    padding: 50px;
    /*overflow: hidden;*/
}
.numbertext {
    position: absolute;
    font-weight: bolder;
    top: -47px;
    left: 4%;
    display: inline-block;
    color: white;
    font-size: 30px;
 }
.ddoott {
    text-align:center;
    position: relative;
    left: calc(-3% + 6px);
    top: 5%;
  }
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
.prev, .next {
    fill:white;
    display: inline-block;
    position: absolute;
    top: calc(44% + 5px);
    cursor: pointer;
    width: 35px;
    height: 35px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.prev {
    left: calc( 5% + 2px);
}
/* Position the "next button" to the right */
.next {
    right: calc( 33% + 2px);
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.1);
}
/*!*#arrowButtonPrev {*!*/
/*!*    position: absolute;*!*/
/*!*    left: 24%;*!*/
/*!*    top: 48%;*!*/
/*!*    transform: translateY(-50%) rotate(180deg);*!*/
/*!*    cursor: pointer;*!*/
/*!*}*!*/
/*!*#arrowButtonNext {*!*/
/*!*     position: absolute;*!*/
/*!*     right:21%;*!*/
/*!*     top: 48%;*!*/
/*!*     transform: translateY(-50%);*!*/
/*!*     cursor: pointer;*!*/
/*!*}*!*/
.mainPhoto {
    width: 15%;
    height: auto;
    /*position: relative;*/
    top: -95px;
    border: 1px solid white;
    transform: scale(1.0);
    transition: transform .2s;
    cursor: pointer;
    right: -2px;
}
.mainPhoto:hover {
    transform: scale(1.2);
    z-index: 9;
}
.footer_text {
    display: inline-block;
}
.text1{
    position: relative;
    left: 24%;
    color:rgb(69,88,90);
    font: 40px solid;
    font-weight: bold;
    font-family: Fantasy, serif;
}
.text2{
    position: relative;
    left: 24%;
    color:rgb(69,88,90,.8);
    font: 40px solid;
    font-weight: bold;
    font-family: Fantasy, serif;
}
.text3{
    position: relative;
    left: 24%;
    color:rgb(69,88,90,.5);
    font: 40px solid;
    font-weight: bold;
    font-family: Fantasy, serif;
}
